
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{ 
margin: 0;
padding:0;
border: 0;
}
body{
background-color: #252525;
color: white;
}
header{
padding: 32px;
border-bottom: 1px solid #6e0342;
background-color: rgba(0, 0, 0, 0,1);
}
header div{
align-text: center;/*alinhamento no meio do cabeçalho*/
}
header div a{
color: white;/* a cor do texto */
font-size: 20px;/* tamanho da fonte */
line-height: 30px;/* espaçamento da linha do texto */
margin: 16px;/* espaçamento entre os textos */
text-decoration: none;/* retirar a decoração do texto */
font-family: 'Robô',sans-serif;/* a fonte escolhida para o menu */
}
header div a:hover{ /*seleção do modo quando o mouse passar por cima "hover"*/
color: #6e0342;/* mudar para  cor verde*/
transition: color700ms;/* e fazer uma transição de cor que dura 700ms */
}

#box{

text-align: center;/* alinhamento no meio do corpo*/
padding: 32px; /* distancia dos outros elementos */
font-family: 'Robô',sans-serif;/* a fonte esconhida pro menu */
}

#box img{
border-radius: 50%;/* adiciona uma borda redonda à imagem/ */
border: 5px solid #6e0342;/* adiciona uma cor à borda da imagem */
margin-bottom: 32px;/*distancia da margem inferior dos outros elementos*/
}
#box h1{
font-size: 42px;/* tamanho da fonte */
line-height: 52px;/* espaçamento da linha do texto */
font-weight: bold;/* tipo da fonte */
}

#box h2{
font-size: 24px;/* tamanho da fonte */
line-height: 34px;/* espaçamento da linha do texto */
font-weight: normal;  /* tipo da fonte */
margin-top: 8px;/*distancia da margem superior dos outros elementos*/
opacity: 0,8;  /* transparência do elemento */
}