body{background-color: black;}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
header{padding: 32px;
border-bottom: 1px solid #333;
background-color: rgba(red, green, blue, alpha);
}
header div {text-align: center;/*alinhamento no meio do header*/
}
header div a {
color:antiquewhite; /*a cor do texto*/
font-size: 20px;/*tamanho da fonte*/
line-height: 30px;/*espaçamento da linha do texto*/
margin: 0 16px;/*espaçamento entre os textos*/
text-decoration: none;/*retirar decoração do texto*/
font-family: ´Roboto´, sans-serif;/*fonte escolhida para o menu*/
}
header div a:hover { /*seleção do modo quando o mouse passar por cima "hover"*/
color: green;/*mudar para cor verde*/
transition: color 700ms; /*e fazer uma transição de cor que dura 700ms*/
}
*{margin: 0;
 padding: 0;
 border: 0;
 }